<table border="3" bgcolor="#faebd7"><h1>
  {{title}}
  </h1>
<tr><td><user-comp></user-comp></td>
<td><prd-comp></prd-comp></td></tr>
<tr><td><parent-comp></parent-comp></td>
<td><interpolation-comp></interpolation-comp></td></tr>
<tr><td><property-binding></property-binding></td>
<td><eventbind-comp></eventbind-comp></td></tr>
<tr><td><twoway-bind></twoway-bind></td>
  <td><struct1-dir></struct1-dir></td></tr>
  <tr><td><attr-dir></attr-dir></td>
  <td change-color>This para uses custim directive</td></tr>
  <tr><td><pipes-comp></pipes-comp></td><td>{{title|titlecase}}</td></tr>
  <tr><td><app-demo></app-demo></td><td><structdirdemo></structdirdemo></td></tr>
</table>

